

#Body{
    div.photo{

        .photo1{
            width:60%;
            height:80%;
        }
    }
  
}


svg{font-weight:bold;max-width:300px;height:auto;}

body{
  
 
  
  justify-content:center;
  align-items:center;
}
#button1{
    width: 520px;
    height: 150px;
    background-color: #fee;
    margin: 10px;
    display: inline-block;
    text-align: center;
  }